.zh-select-icon {
  width: 100%;
}

.zh-select-icon-popper.use-grid {
  .el-scrollbar{
    width: 100%;
    .el-select-dropdown__wrap {
      width: 100%;
      .el-scrollbar__view{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}
