.navbar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .left {
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        color: var(--el-text-color-regular);
        font-size: var(--el-font-size-base);

        .icon {
            cursor: pointer;
            margin-top: 5px;
            position: relative;
            top: 2px;
        }

        .menu {
            font-size: 13px;
            .dropdown {
                margin-top: 14px;
                cursor: pointer;
            }
        }
    }

    .info {
        width: 450px;
        line-height: 59px;
        height: 59px;
        text-align: right;
        vertical-align: middle;

        .bell {
            cursor: pointer;
            .item {
                height: 21px;
                position: relative;
                &:deep(.el-icon) {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                }
            }
        }

        span {
            padding: 0px 7px;
        }

        .name {
            height: 18px;
        }

        .fullscreen {
            cursor: pointer;
        }

        .el-dropdown {
            vertical-align: middle !important;
            cursor: pointer;
            font-size: 14px;
            // color: $menu-text-color;
            font-weight: bolder;
        }

        .setting-icon {
            cursor: pointer;
        }
    }
}
