.zh-virtual-scroll-table {
  height: 100%;
  display: flex;
  flex-direction: column;

  .zh-form .el-form-item {
    margin-right: 15px;
  }

  .zh-table-pagination {
    margin: 10px 0px 0px 0px;
    justify-content: end;
  }

  .zh-vxe-table {
    .el-button+.el-button {
      margin-left: 0px !important;
    }
  }

}

.zh-vxe-table {
  .vxe-cell--title {
    color: rgb(144, 147, 153);
    font-size: 12px;
    font-weight: bold;
  }

  .cell-content span {
    color: rgb(96, 98, 102);
  }
}



/*滚动条整体部分*/
.zh-vxe-table ::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

/*滚动条的轨道*/
.zh-vxe-table ::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

/*滚动条里面的小方块，能向上向下移动*/
.zh-vxe-table ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  border: 1px solid #F1F1F1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .0);
}

.zh-vxe-table ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .2);
}

.zh-vxe-table ::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, .2);
}

/*边角，即两个滚动条的交汇处*/
.zh-vxe-table ::-webkit-scrollbar-corner {
  background-color: #FFFFFF;
}